* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* css voor positioneren van elementen*/
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

aside {
    /* float haalt het element uit de natuurlijke volgorde */
    float: left;
    width: 25%;
    background-color: rgb(238,238,224);
}

article {
    box-sizing: border-box;
    float: right;
    width: 75%;
    background-color: #afcc8c;
    padding: 0 0 0 1.5em;
}

header nav {
    width: 100%;
}

header  #clock {
    width: 20%;
    margin-left: 80%;
    display: inline-block;
}


form{
   /*het element hierboven, namelijk de banner, staat ingesteld op float: right. dat floaten moet vanaf de from stoppen*/
   clear: both;
   padding: 1em;
}

fieldset{
    margin-top: 1em;
    padding: 1em;
}

fieldset > div {
    margin-top: 0.5em;
}

/*alleen de labels die onmidellijk volgen op een input element moeten links vooraf gegaan worden door witruimten (margin-left)
we gebruiken de adjacent sibling selector om deze labels*/
fieldset input +label{
    margin: 0 0.5em 0 0.5em;
}

/************** opmaak navigatie ***************/
/* type selector om de html ol elementen te selecteren
   binnenin een html navelement */
nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #242424
}
header {
    padding: 0 0.5em 0 0.5em;
}
/* horizontale navigatie */
header nav li:first-child {
    border-left: solid 0.1em;
}

header nav li {
    border-right: solid 0.1em;
    display: inline-block
}

header nav a {
    padding: 0 0.5em 0 0.5em;
}

header nav a:hover {
    background-color: #afcc8c;
}

/* opmaak */
header figure img {
    height: 6em;
}

header figure {
    float: left;
}

header h1 {
    float: right;
    font-family: cursive;
}

aside {
    clear: both;
}

/* verticale navigatie */
aside nav ol {
    width: 100% background-color #afcc8c;
}

aside nav a:hover {
    background-color: #6b9b66;
    color: #EEEEE0;
}

aside nav ol li {
    display: block;
    border-top: solid 0.1em;
    border-left: solid 0.6em #ffd700;
    padding: 0.2em 0 0.2em 0.4em;
}

aside nav ol li:last-child {
    border-bottom: solid 0.1em;
}

/* navigatie met :target in een single page app */
article section {
    display: none;
     background-color: green;
  transition: background-color 1s ease;
  
}

article section:target {
    display: block;

}
article section:hover {
    background-color: red;
}

body>span {
    display: none;
}
.favoriet {
        border:5px solid #yellow;
        margin-left:50px;
}

#span1:target ~article #section1,
#span2:target ~article #section2,
#span3:target ~article #section3,
#span4:target ~article #section4,
#span5:target ~article #section5,
#span6:target ~article #section6,
#span7:target ~article #section7,
#span8:target ~article #section8,
#span9:target ~article #section9,
#span10:target ~article #section10,
#span11:target ~article #section11,
#span12:target ~article #section12{
    display: block;
}

/* formulier opmaak */
/* ik wil alleen de span selecteren die direct achter een input element staat.
Daarvoor gebruik ik de adjacent sibling selector*/
input + span, form p span {
    color: red;
}